h1{
	font-size: 2.5em;
	font-family: cursive;
	text-align: center;
}
#loginf{
	font-size: 1.5em;
	text-align: center;
	color: red;	
}

#loginr{
	font-size: 1.5em;
	text-align: center;
	color: green;	
}

#login{
	
	text-align: center;
	line-height: 2; 
	
}

#signup{
	
	text-align: center;
	line-height: 2; 
	
}